@tailwind base;
@tailwind components;
@tailwind utilities;

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font: normal 15px/1.5em 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 0.0008em;
    line-height: 1;
    color: #404040;
}

.nav-bar 
{
}


nav.nav-bar a
{
    text-decoration: none;
    color: #5BADf0;
}

#c1
{
    font-size: 13px;
    color:#5BADf0;
}

ul 
{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 2%;
    transform: rotate(180deg);
}

ul > li
{
    transform: rotate(-180deg);
    position: relative;
    margin-right: 10px;

}

#c1{
    text-wrap: nowrap;
}

#c1 > a:hover
{
    color: #404040;
}

.header
{
    text-align: center;
    margin: 60px auto 0 auto;
    text-align: center;
}

.photo
{
    border-radius: 50%; 
    image-resolution: 100%;
    width: 80px;
    height: 80px;
}

.header .photo img:hover
{
    transform: scale(1.2);
}

.main
{
    width: 100%;
}

.main-h
{
    font-size: 20px;
    font-weight: 400;
    color: #404040;
    margin: 0 auto;
    font-size: 20px;
    padding-top: 15px;
}

.sub-h
{
    font-size: 20px;
    color: gray;
    padding-top: 10px;
    font-weight: 300;
    color: #757575;
    padding-top: 10px;
}

.list-page .title a:hover
{
    color: #5BADf0;
}

.list-page
{
    max-width: 580px;
    margin: 0 auto;
    padding: 0 24px;
}

.list-page #title a
{
    color:#404040;
    display: block;
}

.list-page .title
{
    width: 80%;
    font-weight: 400;
    font-size: 20px;
    display: inline-block;
    width: 80%;    padding-top: 5px;

    text-align: right;
}

.list-page
{
    padding-top: 20px;
}

.title > a
{
    text-decoration: none;
}

.list-page .item
{
    margin: 12px 0;;
}

.list-page .date
{
    width: 20%;
    float: right;
    text-align: right;
    position: relative;
    top: 1px;
    color: #bbb;
}

.footer
{
    text-align: center;
    margin: 100px auto;
    color: #bbbbbb;
    font-size: 14px;

}

.social
{
    display: flex;
    gap: 1%;
    justify-content: center;
}

.footer .copyright
{
    margin: 20px auto;
    font-size: 15px;
    align-self: flex-start;
}

